@{
    ViewData["Title"] = "Home";
}

<style>
img {
    width: 70%;
    }
</style>

<div>
    <h3 class="display-4">Welcome</h3>
    
    <div class="text-center">
        <img src="~/img/banner.png" alt="bank" />
    </div>
</div>

<hr />


