@model WebBankingApp.Models.Login

@{
    ViewData["Title"] = "Password";
}

<h1>Password Change</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Password">
            <div class="form-group">
                <label asp-for="LoginID" class="control-label"></label>
                <input asp-for="LoginID" class="form-control" />
                <span asp-validation-for="LoginID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="OldPassword" class="control-label">Old Password</label>
                <input id="OldPassword" name="OldPassword" type="password" class="form-control"
                    data-val="true" data-val-required="The Password field is required." />
                @Html.ValidationMessage("OldPassword", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="NewPassword" class="control-label">New Password</label>
                <input id="NewPassword" name="NewPassword" type="password" class="form-control"
                    data-val="true" data-val-required="The Password field is required." />
                @Html.ValidationMessage("NewPassword", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-danger" />
            </div>
            @Html.ValidationMessage("LoginFailed", new { @class = "text-danger" })
        </form>
    </div>
</div>

<div>
    <a asp-action="CustomerDetails">Back to Customer Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
